@font-face {
    font-family: odin-font;
    src: url(Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
}

.banner-box {
    background-image: url("images/green_leaves_jungle.jpg");
    background-size: 45vw 100vh;
    height:100vh;
    width: 45vw;
    display: flex;
    flex-wrap: wrap;
}

.logo-box {
    height: 20vh;
    width: 100%;
    position: relative;
    display: flex;
    top: 15rem;
    font-family: odin-font, sans-serif;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.35);
}

.logo-box h1 {
    color: white;
    font-size: 6rem;
}

.logo-box img{
    height: clamp(100px, 80%, 200px);
}

.right-side-box {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f8fa;
}

.right-side-box h1 {
    font-size: 18px;
    padding-top: 20px;
}

.info-box {
    margin-top: 100px;
    margin-left: 30px;
}

.form-box {
    margin-top: 40px;
    padding: 10px 35px 20px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.15) 0px 3px 3px 0px;
}

form {

}

form ul {
    list-style: none;
    display: inline-block;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-top: 15px;
}

label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

input {
    padding: 4px 6px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    width: 185px;
    font-size: 12px;
}

.create-account {
    margin-left: 32px;
    margin-top: 32px;
}

.create-account p {
    padding-top: 20px;
}

button {
    background-color: #596D48;
    color: white;
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 10px 40px;
}
